@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout_Admin_Side.cshtml";
}
@using System.Data
@using The_Ghar.Areas.Admin_Side.Models
@model AdminModel
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="h4">Admin</h4>

        </div>
        <h4>@TempData["AdminInsertMsg"]</h4>
        <h4>@TempData["AdminUpdateMsg"]</h4>

    </div>
    <form method="post" asp-area="Admin_Side" asp-controller="AdminSide" asp-action="AdminSave">
        @Html.HiddenFor(x=>x.AdminID)
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">Name</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control"
                       type="text" asp-for="Name" />
            </div>
        </div>
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">Email</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control"
                       type="text" asp-for="Email" />
            </div>
        </div>
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">Password</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control"
                       type="text" asp-for="Password" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Save</button>
        <input type="button" value="Cancel" class="btn btn-outline-primary btn-sm mb-0" onclick="location.href='@Url.Action("AdminList", "AdminSide", new {area = "Admin_Side"})'" />


    </form>
</div>