@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout_Admin_Side.cshtml";
}
@using System.Data
@using The_Ghar.Areas.Admin_Side.Models
@model StateModel
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="h4">State</h4>

        </div>
        <h4>@TempData["StateInsertMsg"]</h4>
        <h4>@TempData["StateUpdateMsg"]</h4>

    </div>
    <form method="post" asp-area="Admin_Side" asp-controller="Location" asp-action="StateSave">
        @Html.HiddenFor(x=>x.StateID)
        <div class="form-group row" style="width:100%;">
            <label class="col-sm-12 col-md-2 col-form-label">State Name</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control"
                       type="text" asp-for="StateName" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Save</button>


    </form>
    </div>